<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="shortcut icon" href="//www.vscinemas.com.tw/favicon.ico">

  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    nav .brand-logo {
      left: 14.18%;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <title>VIESHOW Showtimes API</title>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="teal darken-1">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Vieshow Showtimes API</a>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <h2>Introduction</h2>
      <p class="caption">This is an implementation of web crawler to render REST API for <span><a target='_blank' href="http://www.vscinemas.com.tw/visPrintShowTimes.aspx?cid=BQ&visLang=2">威秀時刻表</a></span></p>
      <p class="caption">Project is based on NodeJS, and developed by <a target="_blank" href="//github.com/yonaichin">Naichin.W</a></p>
      <h4>API</h4>

      <!-- api block-->
      <% include ./apis/theaterList.ejs %>

      <!-- api block-->
      <% include ./apis/showtimeDays.ejs %>

      <!-- api block-->
      <% include ./apis/ticketUrl.ejs %>

      </div>

    </div>
  </div>


  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>
