<div>
  <blockquote>
    <h5>Get Showtimes by Theater ID</h5>
    Get Vieshow all theaters
    <ul>
      <li>METHOD: GET</li>
      <li>URL: <a target="_blank" href="https://vieshow-showtime.herokuapp.com/theater/TP">https://vieshow-showtime.herokuapp.com/theater/TP</a></li>
    </ul>
  </blockquote>
  <table class="highlight bordered">
    <thead>
      <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>title</td>
        <td>String</td>
        <td>電影名稱</td>
      </tr>
      <tr>
        <td>rating</td>
        <td>String</td>
        <td>分級名稱</td>
      </tr>
      <tr>
        <td>showtimesDay</td>
        <td>Array</td>
        <td>電影場次</td>
      </tr>
      <tr>
        <td>day</td>
        <td>String</td>
        <td>電影播放日期</td>
      </tr>
      <tr>
        <td>sessions</td>
        <td>Array</td>
        <td>電影時刻表</td>
      </tr>
    </tbody>
  </table>
</div>

