<div>
  <blockquote>
    <h5>Get Showtimes by Theater ID</h5>
    Get showtime details by theater id
    <ul>
      <li>METHOD: GET</li>
      <li>URL: <a target="_blank" href="https://vieshow-showtime.herokuapp.com/theater/TP">https://vieshow-showtime.herokuapp.com/theater/TP</a></li>
    </ul>
  </blockquote>
  <table class="highlight bordered">
    <thead>
      <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>title</td>
        <td>Object</td>
        <td>電影名稱( original | zh-tw | en )</td>
      </tr>
      <tr>
        <td>rating</td>
        <td>String</td>
        <td>分級名稱</td>
      </tr>
      <tr>
        <td>showtimesDay</td>
        <td>Array</td>
        <td>電影場次</td>
      </tr>
      <tr>
        <td>day</td>
        <td>String</td>
        <td>電影播放日期</td>
      </tr>
      <tr>
        <td>timestamp</td>
        <td>timestamp</td>
        <td>電影播放日期時間戳記</td>
      </tr>
      <tr>
        <td>sessions</td>
        <td>Array</td>
        <td>電影時刻</td>
      </tr>
      <tr>
        <td>cinemaType</td>
        <td>Array</td>
        <td>電影播放類型</td>
      </tr>
      <tr>
        <td>movieId</td>
        <td>String</td>
        <td>電影編號</td>
      </tr>
      <tr>
        <td>poster</td>
        <td>String</td>
        <td>電影海報</td>
      </tr>
    </tbody>
  </table>
</div>

